<table class="table">
  <tbody>
    <tr>
      <td>Diagonal:</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Display Type:</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Resolution:</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
      <td>Accum Volume:</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
      <td>Ram:</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>SD:</td>
      <td>{{ product.ds }}</td>
    </tr>
    <tr>
      <td>SD Volume Max:</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Main Camera (mp):</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
      <td>Frontal Camera (mp):</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>
